.Results {
    text-align: center;
    padding-bottom: 10px;
}

.Winners {
    display: block;
    margin: auto;
    width: min(100%, 400px);
    height: auto;
}

.Curtain {
    font-size: clamp(24px, calc(18px + 2vw), 36px);
}

.Announcement, .Line {
    font-size: clamp(16px, calc(12px + 1.25vw), 18px);
    margin-bottom: 30px;
}

.Score {
    font-weight: 700;
    font-size: clamp(28px, calc(20px + 2.25vw), 42px);
    color: hsl(323, 86%, 59%);
}