.Option {
    display: block;
    border-radius: 10px;
    font-size: clamp(14px, calc(10px + 1.25vw), 18px);
    font-weight: 600;
    padding: 14px;
    margin: 20px 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: border 700ms;
    border: 2px solid hsl(232, 35%, 52%);
    background-color: white;
    color: hsl(232, 35%, 52%);
}

.Selected {
    background-color: hsl(39, 100%, 50%);
    border: 2px solid hsl(39, 100%, 50%);
    color: white;
}

.Correct {
    background-color: hsl(120, 80%, 25%);
    border-color: hsl(120, 80%, 25%);
    color: white;
}

.Wrong {
    background-color: hsl(0, 80%, 50%);
    border-color: hsl(0, 80%, 50%);
    color: white;
}

@media (hover: hover) {
    .Default:hover {
        border: 2px solid hsl(323, 86%, 59%);
        transition: border 100ms;
    }
    
    .Selected:hover {
        border: 2px solid hsl(39, 100%, 50%);
    }
    
    .Correct:hover {
        border-color: hsl(120, 80%, 25%);
    }
    
    .Wrong:hover {
        border-color: hsl(0, 80%, 50%);
    }
}