.IntroBox {
    padding-bottom: 10px;
}

.World {
    display: block;
    margin: auto;
    width: min(70%, 350px);
    height: auto;
}

.Welcome {
    font-size: clamp(24px, calc(18px + 2vw), 36px);
}

.Intro {
    font-size: clamp(16px, calc(12px + 1.25vw), 18px);
    margin-bottom: 30px;
}